[submodule "BenchMarkResults"]
path = BenchMarkResults
url = ssh://git@github.com/CodeEditorLand/BenchMarkResults.git
ignore = all

[submodule "DNSAutomation"]
path = DNSAutomation
url = ssh://git@github.com/CodeEditorLand/DNSAutomation.git
ignore = all

[submodule "GipFS"]
path = GipFS
url = ssh://git@github.com/CodeEditorLand/GipFS.git
ignore = all

[submodule "BinaryReleases"]
path = BinaryReleases
url = ssh://git@github.com/CodeEditorLand/BinaryReleases.git
ignore = all

[submodule "CreatePullRequest"]
path = CreatePullRequest
url = ssh://git@github.com/CodeEditorLand/CreatePullRequest.git
ignore = all

[submodule "AwesomeTauri"]
path = AwesomeTauri
url = ssh://git@github.com/CodeEditorLand/AwesomeTauri.git
ignore = all

[submodule "FixPathENVRS"]
path = FixPathENVRS
url = ssh://git@github.com/CodeEditorLand/FixPathENVRS.git
ignore = all

[submodule "GHTangleRelease"]
path = GHTangleRelease
url = ssh://git@github.com/CodeEditorLand/GHTangleRelease.git
ignore = all

[submodule "Automation"]
path = Automation
url = ssh://git@github.com/CodeEditorLand/Automation.git
ignore = all

[submodule "GlobalHotKey"]
path = GlobalHotKey
url = ssh://git@github.com/CodeEditorLand/GlobalHotKey.git
ignore = all

[submodule "LinuxDeployPluginGstreamer"]
path = LinuxDeployPluginGstreamer
url = ssh://git@github.com/CodeEditorLand/LinuxDeployPluginGstreamer.git
ignore = all

[submodule "Glutin"]
path = Glutin
url = ssh://git@github.com/CodeEditorLand/Glutin.git
ignore = all

[submodule "JavaScriptCoreRS"]
path = JavaScriptCoreRS
url = ssh://git@github.com/CodeEditorLand/JavaScriptCoreRS.git
ignore = all

[submodule "CargoMobile2"]
path = CargoMobile2
url = ssh://git@github.com/CodeEditorLand/CargoMobile2.git
ignore = all

[submodule "CreateTauriApp"]
path = CreateTauriApp
url = ssh://git@github.com/CodeEditorLand/CreateTauriApp.git
ignore = all

[submodule "AppRun"]
path = AppRun
url = ssh://git@github.com/CodeEditorLand/AppRun.git
ignore = all

[submodule "Meetings"]
path = Meetings
url = ssh://git@github.com/CodeEditorLand/Meetings.git
ignore = all

[submodule "RFCs"]
path = RFCs
url = ssh://git@github.com/CodeEditorLand/RFCs.git
ignore = all

[submodule "LibAppIndicatorRS"]
path = LibAppIndicatorRS
url = ssh://git@github.com/CodeEditorLand/LibAppIndicatorRS.git
ignore = all

[submodule "MSEdgeDriverManifestCache"]
path = MSEdgeDriverManifestCache
url = ssh://git@github.com/CodeEditorLand/MSEdgeDriverManifestCache.git
ignore = all

[submodule "GovernanceAndGuidance"]
path = GovernanceAndGuidance
url = ssh://git@github.com/CodeEditorLand/GovernanceAndGuidance.git
ignore = all

[submodule "NSISTauriUtils"]
path = NSISTauriUtils
url = ssh://git@github.com/CodeEditorLand/NSISTauriUtils.git
ignore = all

[submodule "RustXCodePlugin"]
path = RustXCodePlugin
url = ssh://git@github.com/CodeEditorLand/RustXCodePlugin.git
ignore = all

[submodule "LinuxDeployPluginGtk"]
path = LinuxDeployPluginGtk
url = ssh://git@github.com/CodeEditorLand/LinuxDeployPluginGtk.git
ignore = all

[submodule "Realworld"]
path = Realworld
url = ssh://git@github.com/CodeEditorLand/Realworld.git
ignore = all

[submodule "MeiliSearchDocsearch"]
path = MeiliSearchDocsearch
url = ssh://git@github.com/CodeEditorLand/MeiliSearchDocsearch.git
ignore = all

[submodule "ActionsNetlify"]
path = ActionsNetlify
url = ssh://git@github.com/CodeEditorLand/ActionsNetlify.git
ignore = all

[submodule "RustICNS"]
path = RustICNS
url = ssh://git@github.com/CodeEditorLand/RustICNS.git
ignore = all

[submodule "TauriDiscordBot"]
path = TauriDiscordBot
url = ssh://git@github.com/CodeEditorLand/TauriDiscordBot.git
ignore = all

[submodule "Soup2RS"]
path = Soup2RS
url = ssh://git@github.com/CodeEditorLand/Soup2RS.git
ignore = all

[submodule "TauriGitHubBot"]
path = TauriGitHubBot
url = ssh://git@github.com/CodeEditorLand/TauriGitHubBot.git
ignore = all

[submodule "TauriHotKeyRS"]
path = TauriHotKeyRS
url = ssh://git@github.com/CodeEditorLand/TauriHotKeyRS.git
ignore = all

[submodule "RustDocusaurus"]
path = RustDocusaurus
url = ssh://git@github.com/CodeEditorLand/RustDocusaurus.git
ignore = all

[submodule "TauriIncludeDir"]
path = TauriIncludeDir
url = ssh://git@github.com/CodeEditorLand/TauriIncludeDir.git
ignore = all

[submodule "Muda"]
path = Muda
url = ssh://git@github.com/CodeEditorLand/Muda.git
ignore = all

[submodule "TauriPluginAutostart"]
path = TauriPluginAutostart
url = ssh://git@github.com/CodeEditorLand/TauriPluginAutostart.git
ignore = all

[submodule "TauriAction"]
path = TauriAction
url = ssh://git@github.com/CodeEditorLand/TauriAction.git
ignore = all

[submodule "TauriPluginApp"]
path = TauriPluginApp
url = ssh://git@github.com/CodeEditorLand/TauriPluginApp.git
ignore = all

[submodule "TauriLand"]
path = TauriLand
url = ssh://git@github.com/CodeEditorLand/TauriLand.git
ignore = all

[submodule "TauriInliner"]
path = TauriInliner
url = ssh://git@github.com/CodeEditorLand/TauriInliner.git
ignore = all

[submodule "TauriInlinerRS"]
path = TauriInlinerRS
url = ssh://git@github.com/CodeEditorLand/TauriInlinerRS.git
ignore = all

[submodule "TauriForage"]
path = TauriForage
url = ssh://git@github.com/CodeEditorLand/TauriForage.git
ignore = all

[submodule "TauriPluginClipboardManager"]
path = TauriPluginClipboardManager
url = ssh://git@github.com/CodeEditorLand/TauriPluginClipboardManager.git
ignore = all

[submodule "TauriCon"]
path = TauriCon
url = ssh://git@github.com/CodeEditorLand/TauriCon.git
ignore = all

[submodule "TauriPluginCLI"]
path = TauriPluginCLI
url = ssh://git@github.com/CodeEditorLand/TauriPluginCLI.git
ignore = all

[submodule "TauriInvokeHTTP"]
path = TauriInvokeHTTP
url = ssh://git@github.com/CodeEditorLand/TauriInvokeHTTP.git
ignore = all

[submodule "TauriPluginHTTP"]
path = TauriPluginHTTP
url = ssh://git@github.com/CodeEditorLand/TauriPluginHTTP.git
ignore = all

[submodule "TauriPluginDialog"]
path = TauriPluginDialog
url = ssh://git@github.com/CodeEditorLand/TauriPluginDialog.git
ignore = all

[submodule "TauriPluginLog"]
path = TauriPluginLog
url = ssh://git@github.com/CodeEditorLand/TauriPluginLog.git
ignore = all

[submodule "PluginsWorkspace"]
path = PluginsWorkspace
url = ssh://git@github.com/CodeEditorLand/PluginsWorkspace.git
ignore = all

[submodule "TauriPluginFSExtra"]
path = TauriPluginFSExtra
url = ssh://git@github.com/CodeEditorLand/TauriPluginFSExtra.git
ignore = all

[submodule "SmokeTests"]
path = SmokeTests
url = ssh://git@github.com/CodeEditorLand/SmokeTests.git
ignore = all

[submodule "TauriPluginPositioner"]
path = TauriPluginPositioner
url = ssh://git@github.com/CodeEditorLand/TauriPluginPositioner.git
ignore = all

[submodule "TauriPluginFSWatch"]
path = TauriPluginFSWatch
url = ssh://git@github.com/CodeEditorLand/TauriPluginFSWatch.git
ignore = all

[submodule "TauriPluginUpload"]
path = TauriPluginUpload
url = ssh://git@github.com/CodeEditorLand/TauriPluginUpload.git
ignore = all

[submodule "TauriPluginNotification"]
path = TauriPluginNotification
url = ssh://git@github.com/CodeEditorLand/TauriPluginNotification.git
ignore = all

[submodule "TauriPluginPersistedScope"]
path = TauriPluginPersistedScope
url = ssh://git@github.com/CodeEditorLand/TauriPluginPersistedScope.git
ignore = all

[submodule "TauriPluginProcess"]
path = TauriPluginProcess
url = ssh://git@github.com/CodeEditorLand/TauriPluginProcess.git
ignore = all

[submodule "TauriPluginShell"]
path = TauriPluginShell
url = ssh://git@github.com/CodeEditorLand/TauriPluginShell.git
ignore = all

[submodule "TauriPluginSQL"]
path = TauriPluginSQL
url = ssh://git@github.com/CodeEditorLand/TauriPluginSQL.git
ignore = all

[submodule "TauriPluginLocalhost"]
path = TauriPluginLocalhost
url = ssh://git@github.com/CodeEditorLand/TauriPluginLocalhost.git
ignore = all

[submodule "TauriPluginOS"]
path = TauriPluginOS
url = ssh://git@github.com/CodeEditorLand/TauriPluginOS.git
ignore = all

[submodule "TauriEGUI"]
path = TauriEGUI
url = ssh://git@github.com/CodeEditorLand/TauriEGUI.git
ignore = all

[submodule "TauriBindgen"]
path = TauriBindgen
url = ssh://git@github.com/CodeEditorLand/TauriBindgen.git
ignore = all

[submodule "TauriToml"]
path = TauriToml
url = ssh://git@github.com/CodeEditorLand/TauriToml.git
ignore = all

[submodule "TauriPluginUpdater"]
path = TauriPluginUpdater
url = ssh://git@github.com/CodeEditorLand/TauriPluginUpdater.git
ignore = all

[submodule "TauriPluginFS"]
path = TauriPluginFS
url = ssh://git@github.com/CodeEditorLand/TauriPluginFS.git
ignore = all

[submodule "TauriPluginGlobalShortCut"]
path = TauriPluginGlobalShortCut
url = ssh://git@github.com/CodeEditorLand/TauriPluginGlobalShortCut.git
ignore = all

[submodule "TauriPluginWindow"]
path = TauriPluginWindow
url = ssh://git@github.com/CodeEditorLand/TauriPluginWindow.git
ignore = all

[submodule "TypeDocPluginMarkdown"]
path = TypeDocPluginMarkdown
url = ssh://git@github.com/CodeEditorLand/TypeDocPluginMarkdown.git
ignore = all

[submodule "TauriPluginStrongHold"]
path = TauriPluginStrongHold
url = ssh://git@github.com/CodeEditorLand/TauriPluginStrongHold.git
ignore = all

[submodule "Tao"]
path = Tao
url = ssh://git@github.com/CodeEditorLand/Tao.git
ignore = all

[submodule "TauriWebpack"]
path = TauriWebpack
url = ssh://git@github.com/CodeEditorLand/TauriWebpack.git
ignore = all

[submodule "TrayIcon"]
path = TrayIcon
url = ssh://git@github.com/CodeEditorLand/TrayIcon.git
ignore = all

[submodule "TauriTheia"]
path = TauriTheia
url = ssh://git@github.com/CodeEditorLand/TauriTheia.git
ignore = all

[submodule "TauriPluginStore"]
path = TauriPluginStore
url = ssh://git@github.com/CodeEditorLand/TauriPluginStore.git
ignore = all

[submodule "WinRTNotification"]
path = WinRTNotification
url = ssh://git@github.com/CodeEditorLand/WinRTNotification.git
ignore = all

[submodule "WebKit2GTKRS"]
path = WebKit2GTKRS
url = ssh://git@github.com/CodeEditorLand/WebKit2GTKRS.git
ignore = all

[submodule "VueCLIPluginTauri"]
path = VueCLIPluginTauri
url = ssh://git@github.com/CodeEditorLand/VueCLIPluginTauri.git
ignore = all

[submodule "WryMobile"]
path = WryMobile
url = ssh://git@github.com/CodeEditorLand/WryMobile.git
ignore = all

[submodule "WorkflowTestBed"]
path = WorkflowTestBed
url = ssh://git@github.com/CodeEditorLand/WorkflowTestBed.git
ignore = all

[submodule "BoardVoter"]
path = BoardVoter
url = ssh://git@github.com/CodeEditorLand/BoardVoter.git
ignore = all

[submodule "WinRes"]
path = WinRes
url = ssh://git@github.com/CodeEditorLand/WinRes.git
ignore = all

[submodule "TauriPluginSingleInstance"]
path = TauriPluginSingleInstance
url = ssh://git@github.com/CodeEditorLand/TauriPluginSingleInstance.git
ignore = all

[submodule "TypeDocusaurus"]
path = TypeDocusaurus
url = ssh://git@github.com/CodeEditorLand/TypeDocusaurus.git
ignore = all

[submodule "Winit"]
path = Winit
url = ssh://git@github.com/CodeEditorLand/Winit.git
ignore = all

[submodule "WindowShadows"]
path = WindowShadows
url = ssh://git@github.com/CodeEditorLand/WindowShadows.git
ignore = all

[submodule "ZSergeWebview"]
path = ZSergeWebview
url = ssh://git@github.com/CodeEditorLand/ZSergeWebview.git
ignore = all

[submodule "WindowVibrancy"]
path = WindowVibrancy
url = ssh://git@github.com/CodeEditorLand/WindowVibrancy.git
ignore = all

[submodule "Wry"]
path = Wry
url = ssh://git@github.com/CodeEditorLand/Wry.git
ignore = all

[submodule "TauriStudio"]
path = TauriStudio
url = ssh://git@github.com/CodeEditorLand/TauriStudio.git
ignore = all

[submodule "TauriSearch"]
path = TauriSearch
url = ssh://git@github.com/CodeEditorLand/TauriSearch.git
ignore = all

[submodule "BenchMarkElectron"]
path = BenchMarkElectron
url = ssh://git@github.com/CodeEditorLand/BenchMarkElectron.git
ignore = all

[submodule "GirFiles"]
path = GirFiles
url = ssh://git@github.com/CodeEditorLand/GirFiles.git
ignore = all

[submodule "DocusaurusMeiliSearchIndexer"]
path = DocusaurusMeiliSearchIndexer
url = ssh://git@github.com/CodeEditorLand/DocusaurusMeiliSearchIndexer.git
ignore = all

[submodule "TauriDialogRS"]
path = TauriDialogRS
url = ssh://git@github.com/CodeEditorLand/TauriDialogRS.git
ignore = all

[submodule "Tauri"]
path = Tauri
url = ssh://git@github.com/CodeEditorLand/Tauri.git
ignore = all

[submodule "TauriPluginWebSocket"]
path = TauriPluginWebSocket
url = ssh://git@github.com/CodeEditorLand/TauriPluginWebSocket.git
ignore = all

[submodule "TauriPluginWindowState"]
path = TauriPluginWindowState
url = ssh://git@github.com/CodeEditorLand/TauriPluginWindowState.git
ignore = all

[submodule "Win7Notifications"]
path = Win7Notifications
url = ssh://git@github.com/CodeEditorLand/Win7Notifications.git
ignore = all

[submodule "WebView"]
path = WebView
url = ssh://git@github.com/CodeEditorLand/WebView.git
ignore = all

[submodule "Deno"]
path = Deno
url = ssh://git@github.com/CodeEditorLand/Deno.git
ignore = all

[submodule "Egui"]
path = Egui
url = ssh://git@github.com/CodeEditorLand/Egui.git
ignore = all

[submodule "TauriPluginAuthenticator"]
path = TauriPluginAuthenticator
url = ssh://git@github.com/CodeEditorLand/TauriPluginAuthenticator.git
ignore = all

[submodule "TauriDocs"]
path = TauriDocs
url = ssh://git@github.com/CodeEditorLand/TauriDocs.git
